*{
    float: left;
    box-sizing: border-box;
    color: grey;
    font-size: large;
    text-align: center;
    background-color: grey;
}
header {
  
    background-color:#ebebeb;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 960px;
    margin-top: 5px;

  
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    width:  960px;
    font-size: 18px;
}
nav{
    
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 960px;
    margin-top: 10px;
    margin-bottom: 10px;
   
    
}
section{
    float: left;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 20px;
    clear: both;
    overflow: auto;
    width: 495px;
  
}
article{
margin-top: 20px;
color:#ebebeb;
background-color: #777;
padding-top: 15px;
width: 90%;
margin-left: 5%;
clear: both;
overflow: auto;


}
h1,p{
    width: inherit;
    margin-left: inherit;
    padding: 15px;
    background-color:#ebebeb;
    color: #777
}

aside{
margin-left: 10px;
float: left;
background-color: #ebebeb;
width: 455px;
padding-top: 25px;
padding-bottom: 250px;
}
footer{
    width: 960px;
    background-color: #ebebeb;
    float: left;
    background-color:#ebebeb;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 960px;
    margin-top: 10px;
    
}